.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
    url('spinner.gif') 
                50% 50% 
                no-repeat;
}
body.loading {
        overflow: hidden;   
}
body.loading .modal {
        display: block;
}

body {
    padding-top: 60px;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
}

.navbar {
    background: #5f9aa4;
}
.navbar .navbar-brand {
    color: #FFF;
}
.navbar .navbar-nav > li > a {
    color: #FFF;
}
.navbar .navbar-brand:hover {
    background: #FFF;
}

#link-list {
    width:15em;
}

#id-link {
    text-align: left;
    /*width:3.5em;
    height:2.5em;*/
}
#id-link:hover {
    background: #5F9aa4;
    color: #FFF;
}

.flat-button {
    background: #FFF;
}
.flat-button:hover {
    background: #5f9aa4;
    color: #FFF;
}


.center-table {
    margin: 0 auto !important;
    float: none !important;
}

.full-table {
    margin-top:10px;
    margin-right: 100px;
    margin-left: 20px;
    overflow: auto;
}




.info-table {
    border:1px solid black;
    float: left;
    margin-top: 20; 
    margin-left: 10px;
    margin-right: 30px;
    text-align: left;
    padding: 10px;
}
.info-table td {
    border:1px solid black;
}
.info-table th {
    border:1px solid black;
    text-align: center;
}


.search-table{
    border:1px solid black;
}
.search-table th {
    border:1px solid black;
    text-align: center;
}
.search-table td {
    border:1px solid black;
}


.rev-table {
    text-align: center;
}
