{% extends 'tracking/base.html' %}

{% block content %}

<h3> {{ item.name.upper }} </h3>
<a href="javascript:history.go(-1);">Return to prev</a>
<br/>
<br/>

{% if error %}
Error: {{ error }}
<br/>
{% endif %}

<form action="{% url 'tracking:add_attachment' item.type item.id %}" method="Post" enctype="multipart/form-data">
    {% csrf_token %}
        <table class="search-table">
            <caption> Select a File to Upload </caption>
        {{ form.as_table }}
        </table>
    <p><input type="submit" value="Upload File"/></p>
</form>


{% endblock %}