{% load staticfiles %}
<html>
    <head>
       <!--  <title> DRC Tracking </title> -->
        <link rel="icon" href="/static/images/favicon.ico?"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/tracking.css' %}">

    </head>
    <body>

        <div id="header">
            <table width="97%" style="margin-left:10px;">
            <tr>
                <td style="text-align: left;">
                    <h1 ><a href="/tracking/"> DRC </a></h1>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;">
                <!-- <p style='text-align:left; margin-left:10px; margin-right:10px'> -->
                    <strong> Drawing - Revision - Comment -- Tracking</strong>
                </td>
                <td style="text-align: right;">
                    <strong>
                    <a href='/accounts/login?next=/tracking/'> Login </a> | 
                    <a href='/accounts/logout'> Logout</a>
                    </strong>
                </td>
            <tr>
                <td style="text-align: left;">
                    <strong>
                    <a href='/tracking/subscriptions/'>Subscriptions </a> | 
                    <a href='/tracking/search/open_comments/'> Open Comments </a>
                    </strong>
                </td>
                <td style="text-align: right;">
                    {% if username  %}
                        Logged in as: {{ username }}
                    {% else %}
                        Not logged in
                    {% endif %}
                </td>
            </tr>

            </table>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

      <!--   <div id="footer">
            <div class="box">
                footer
            </div>
        </div> -->
    </body>
</html>
