{% extends 'tracking/base.html' %}

{% block content %}

<h3> {{ comment }} </h3>

<table class="info-table rev-table">
    <col width="100">
    <col width="300">
    <caption><strong> -- Comment Info #edit# -- </strong></caption>
    <tr><th> ID </th><td> {{ comment.id }} </td></tr>
    <tr><th> Status <a href="{% url 'tracking:comment_detail' com_id=comment.id %}" ><small><strong>Close</strong></small></a></th><td> {{ comment.open_closed }} </td></tr>
    <tr><th> Date </th><td> {{ comment.date }} </td></tr>
    <tr><th> Owner </th><td> {{ comment.owner }} </td></tr>
    <tr><th> Description </th><td> {{ comment.desc }} </td></tr>
    <tr><th> More Info </th><td> {{ comment.text}} </td></tr>
    <tr><th> Attachments <a href="{% url 'tracking:add_attachment' item_type='comment' item_id=comment.id %} "> Add </a> </th><td>  
    {% if com_attachments %}
    <ul>
        {% for attch in com_attachments %}
        <li><a target="_blank" href="{% url 'tracking:serve_attachment' file_type='comment' file_id=attch.id %}">{{ attch.filename }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
     No Attachments
    {% endif %}
    </td></tr>

</table>

</br>
<div style="clear:both;"></div>

<table class="info-table rev-table">
<col width="50">
<col width="75">
<col width="120">
<col width="200">
<col width="500">
<caption><strong> -- Replies #add# -- </strong></caption>
<tr><th> No. </th><th> Date </th><th> Owner </th><th> Description </th><th> Info </th><th>Attachments</th></tr>
{% if replies %}
    {% for rep in replies %}
    <tr><td><a href="{% url 'tracking:reply_detail' com_id=comment.id rep_id=rep.reply.id %}">{{ rep.reply.number }} </a></td><td>{{rep.reply.date.month}}-{{rep.reply.date.day}}-{{rep.reply.date.year}}</td><td>{{ rep.reply.owner }}</td><td>{{ rep.reply.desc }}</td><td>{{ rep.reply.text }}
    <td>
    
    {% if rep.attachments %}
    <ul>
        {% for attch in rep.attachments %}
        <li><a target="_blank" href="{% url 'tracking:serve_attachment' file_type='reply' file_id=attch.id %}">{{ attch.filename }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
     No Attachments
    {% endif %}

    </td></tr>
    {% endfor %}

{% else %}
<tr><td colspan="5" style="text-align:center"><strong> No Replies </strong></td></tr>

{% endif %}
</table>

{% endblock %}