{% extends 'tracking/base.html' %}

{% block content %}

{% if comment %}
    <h3> Comment: {{ comment.id }} on 
        {% for rev in comment.revision.all %}
        <a href="{% url 'tracking:revision_detail' drawing_name=rev.drawing.name rev_no=rev.number %}"> {{ rev.drawing.name.upper }}-{{rev.number.upper}}</a> , 
        {% endfor %}
    </h3>
<!-- <a href="javascript:history.go(-1);">Return to prev</a> -->
    <a href="{% url 'tracking:comment_detail' com_id=comment.id %}">Return to Comment</a>
{% else %}
    <h3> Add New Comment 
        {% if revisions %}
        on 
            {% for rev in revisions %}
            <a href="{% url 'tracking:revision_detail' drawing_name=rev.drawing.name rev_no=rev.number %}">{{rev.drawing.name.upper}}-{{rev.number.upper}}</a>, 
            {% endfor %}
        {% endif %}
    </h3>
{% endif %}

<br/>

{% if is_edit %}
    <table class="info-table">
        <col width="120">
        <col width="300">
        <caption> Current Info: Will be overwritten </caption>
        <tr><th> Revision </th><td> {% if revisions %}
                                    {% for rev in revisions %}
                                        {{ rev.drawing.name.upper }}-{{ rev.number.upper }},
                                    {% endfor %}
                                    {% endif %}</td></tr>
        <tr><th> Description </th><td> {{comment.desc}} </td></tr>
        <tr><th> Text </th></td> <td> {{comment.text}} </td></tr>
        <tr><th> Status </th><td> {{comment.status}} </td></td>
    </table> <!-- so tired -->
{% endif %}

{% if error %}
    Error: {{ error }}
    <br/>
    <a href="javascript:history.go(-1);">
                       Return to prev</a>
{% endif %}

{% if is_edit %}
    <form action="{% url 'tracking:comment_edit' com_id=comment.id %}" method="Post" enctype="multipart/form-data">
{% else %}
    <form action="{% url 'tracking:drawing_comment_add' drawing_name=drawing.name %}" method="Post" enctype="multipart/form-data">
{% endif %}

    {% csrf_token %}
<!--     {{ form.errors }}
    {{ form.non_field_errors }} -->
    <table class="info-table">
        <caption> 
            {% if is_edit %} New Info: Any fields you fill here will overwrite the current.
            {% else %} New Comment Info <br/> <small> (you can add attachments after filling in this info)</small>
            {% endif %} 
        </caption>
        {{ form.as_table }}
    </table>
    {% if is_edit %}
        <p><input type="submit" value="Submit Changes & Overwrite Existing"/></p>
    {% else %}
        <p><input type="submit" value="Submit New Revision Info"/></p>
    {% endif %}
</form>


{% endblock %}

