{% extends 'tracking/base.html' %}

{% block content %}

{% if drawing %}
<h3> {{ drawing.name.upper }} </h3>
<!-- <a href="javascript:history.go(-1);">Return to prev</a> -->
<a href="{% url 'tracking:drawing_detail' drawing.name %}">Return to Drawing</a>
{% else %}
<h3> Add New Drawing </h3>
{% endif %}

<br/>

{% if is_edit %}
<table class="info-table">
    <col width="120">
    <col width="300">
    <caption> Current Info: Will be overwritten </caption>
    {% include 'tracking/drawing_info_table.html' %}
</table>
{% endif %}

{% if error %}
Error: {{ error }}
{% endif %}

{% if is_edit %}
<form action="{% url 'tracking:drawing_edit' drawing.name%}" method="Post" enctype="multipart/form-data">
{% else %}
<form action="{% url 'tracking:drawing_add' %}" method="Post" enctype="multipart/form-data">
{% endif %}

    {% csrf_token %}
<!--     {{ form.errors }}
{{ form.non_field_errors }} -->
        <table class="info-table">
        <caption> 
            {% if is_edit %} New Info: Any fields you fill here will overwrite the current.
            {% else %} New Drawing Info <br/> <small> (you can add attachments after filling in this info)</small>
            {% endif %} 
        </caption>
        {{ form.as_table }}
        </table>
    {% if is_edit %}
    <p><input type="submit" value="Submit Changes & Overwrite Existing"/></p>
    {% else %}
    <p><input type="submit" value="Submit Drawing Info"/></p>
    {% endif %}
</form>


{% endblock %}

