{% extends 'tracking/base.html' %}

{% block content %}

<h3> {{ drawing.name.upper }} </h3>
<a href="javascript:history.go(-1);">Return to prev</a>
<br/>
<br/>

{% if is_edit %}
<table class="info-table">
    <col width="120">
    <col width="300">
    <caption> Current Info: Will be overwritten </caption>
    {% include 'tracking/drawing_info_table.html' %}
</table>
{% endif %}

<form action="{% url 'tracking:drawing_edit' drawing.name %}" method="Post" enctype="multipart/form-data">
    {% csrf_token %}
        <table class="search-table">
            <caption> New Info: Any fields you fill here will overwrite the current. </caption>
        {{ form.as_table }}
        </table>
    <p><input type="submit" value="Submit Changes"/></p>
</form>


{% endblock %}

