{% extends 'tracking/base.html' %}

{% block content %}

<h3> {{ drawing.name.upper }} </h3>
<a href="javascript:history.go(-1);">Return to results</a>
<br/>

<table class="info-table">
    <col width=120>
    <col width=300>
    <caption><strong> -- Drawing Info <a href="{% url 'tracking:drawing_edit' drawing.name %}"> edit </a>-- </strong></caption>
    {% include 'tracking/drawing_info_table.html' %}

</table>

<!-- <br/>
<hr size=2> -->

<table class="info-table rev-table">
    <col width="100">
    <col width="120">
    <col width="300">
    <caption><strong> -- Revision Info #add# -- </strong></caption>
    <tr><th> No. </th><th> Date </th><th> Description </th> </tr>
    {% if revisions %}
        {% for rev in revisions %}
        <tr><td><a href="{% url 'tracking:revision_detail' drawing_name=drawing.name rev_no=rev.number %}">{{ rev.number }} </a></td><td>{{rev.date.month}}-{{rev.date.day}}-{{rev.date.year}}</td><td>{{ rev.desc }}</td></tr>
        {% endfor %}
    {% else %}
    <tr><td colspan="3" style="text-align:center"><strong> No Revisions </strong></td></tr>
    {% endif %}

</table>

</br>
<div style="clear:both;"></div>

<table class="info-table rev-table">
<col width="50">
<col width="75">
<col width="120">
<col width="200">
<caption><strong> -- Comments #add# -- </strong></caption>
<tr><th> ID </th><th> Status </th><th> Date </th><th> Owner </th></tr>
{% if comments %}
    {% for com in comments %}
    <tr><td><a href="{% url 'tracking:comment_detail' com_id=com.id %}">{{ com.id }} </a></td><td>{{ com.status }}</td><td>{{com.date.month}}-{{com.date.day}}-{{com.date.year}}</td><td>{{ com.owner }}</td></tr>
    {% endfor %}

{% else %}
<tr><td colspan="4" style="text-align:center"><strong> No Comments </strong></td></tr>

{% endif %}
</table>

<!-- <br/>

    <h4> Comments </h4>
    <a href="{% url 'tracking:drawing_search' %}">Return to Drawing Search</a>
    
    <br/>
    <br/>
    {% include 'tracking/results_list.html' with items=drawings %} -->

{% endblock %}
