{% extends 'tracking/base.html' %}

{% block content %}

<div class="page-header">
    <h3> Drawing: {{ drawing.name.upper }} 
        {% if subscribed %}
            <small><span class="glyphicon glyphicon-pushpin"></span></small>
        {% endif %}
    </h3>
    <a id="id-link" class="list-group-item"  href="{% url 'tracking:subscribe_drawing' drawing_name=drawing.name go_to='drawing' %}"
        {% if subscribed %}
            style="width:130px;"
        {% else %}
            style="width:110px;"
        {% endif %}>
        <small><span class="glyphicon glyphicon-pushpin"></span></small> 
        {% if subscribed %}
             Unsubscribe 
        {% else %}
             Subscribe
        {% endif %}
    </a>
</div>

<div class="panel panel-default">
    <div id="flat-panel" class="panel-heading"> Drawing Info <a href="{% url 'tracking:drawing_edit' drawing.name %}"><small> Edit </small></a></div>
    <div class="table-responsive">
        <table class="table table-hover table-condensed table-bordered">
            {% include 'tracking/drawing_info_table.html' %}
            <tr>
                <th> Attachments 
                    <a id="id-link" class="list-group-item" style="width:50px;" href="{% url 'tracking:add_attachment' item_type='drawing' item_id=drawing.id %}" ><small> Add </a>
                    |<a href="{% url 'tracking:remove_attachment' item_type='drawing' item_id=drawing.id %}"> Remove </small></a>
                </th>
                <td> 
                    {% if drawing.attachments %}
                        <ul>
                        {% for attch in drawing.attachments %}
                            <li>
                                <a target="_blank" href="{% url 'tracking:serve_attachment' file_type='drawing' file_id=attch.id %}">{{attch.filename}}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>

        </table>
    </div>
            

<table class="info-table rev-table">
    <col width="100">
    <col width="120">
    <col width="300">
    <caption><strong> -- Revisions <a href="{% url 'tracking:drawing_revision_add' drawing.name %}"><small> Add </small></a> -- </strong></caption>
    <tr><th> No. </th><th> Date </th><th> Description </th> </tr>
    {% if revisions %}
        {% for rev in revisions %}
        <tr><td><a href="{% url 'tracking:revision_detail' drawing_name=drawing.name rev_no=rev.number %}">{{ rev.number.upper }} </a></td><td>{{rev.add_date|date:"m-d-Y"}}</td><td>{{ rev.desc.capitalize }}</td></tr>
        {% endfor %}
    {% else %}
    <tr><td colspan="3" style="text-align:center"><strong> No Revisions </strong></td></tr>
    {% endif %}

</table>

<!-- </br> -->
<!-- <div style="clear:both;"></div> -->

<table class="info-table rev-table">
<caption><strong> -- Comments <a href="{% url 'tracking:drawing_comment_add' drawing_name=drawing.name %}"><small> Add </small></a> -- </strong></caption>
{% include 'tracking/comment_list_table.html' %}

</table>

<!-- <div style="clear:both;"></div> -->
{% endblock %}
