{% extends 'tracking/base.html' %}

{% block content %}

    <div class="page-header">
        <h2> Welcome to DRC Tracking Index </h2>
    </div>
    <!-- <h2 class="text-center"> Welcome to DRC Tracking Index </h2> -->
    <!-- <br/> -->
           
    <h3 > QuickLinks: </h3>
    <h4 ><a href="{% url 'tracking:open_comments' %}">Open Comments</a></h4>
    <h4 ><a href="{% url 'tracking:subscriptions' %}">Subscribed Drawings</a></h4>


    <h3 > Search: </h3>
    <h4 ><a href="{% url 'tracking:drawing_search' %}">Drawing Search</a></h4>

    <h3  style="margin-top:50px;"> Add: </h3>
        <ul class="list-inline center-block">
            <li><a href="{% url 'tracking:drawing_add' %}">Drawing</a></li>
            <li><a href="{% url 'tracking:revision_add' %}">Revision</a></li>
    <!-- <li><a href="{% url 'tracking:index' %}">Comment</a></li> -->
        </ul>

    
{% endblock %}
