{% extends 'tracking/base.html' %}

{% block content %}
<div class="page-header">
    <h3> Welcome </h3>
</div>

<table class="span5 center-table">
    <caption>
    {% if form.errors %}
    Wrong Username/Password combo
    {% else %}
    Login to DRC
    {% endif %}
    </caption>
    <tr>
        <td>

<div class="container-fluid">
    <form class='form-horizontal' name='LoginForm' action="{% url 'login' %}" method='post'>
        {% csrf_token %}

        <div class='form-group'>
            <label class='control-label' for='username'>Username</label>
            <div class='controls'>
                <input type='text' id='username' name='username' placeholder='Username' class="form-control">
            </div>
        </div>
        <div class='form-group'>
            <label class='control-label' for='password'>Password</label>
            <div class='controls'>
                <input type='password' name='password' id='password' placeholder='Password' class="form-control">
            </div>
        </div>
        <div class='control-group'>
            <div class='controls'>
                <button type='submit' class='btn btn-default flat-button'>Login</button>
            </div>
        </div>
    </form>
</div>

        </td>
    </tr>
</table>

{% endblock %}

