{% extends 'tracking/base.html' %}

{% block content %}

<h3> {{ revision.drawing.name.upper }} - Rev: {{ revision.number.upper }}</h3>

<table class="info-table rev-table">
    <col width="100">
    <col width="120">
    <col width="300">
    <caption><strong> -- Revision Info #edit# -- </strong></caption>
    <tr><th> No. </th><td> {{ revision.number }} </td></tr>
    <tr><th> Date </th><td> {{ revision.date }} </td></tr>
    <tr><th> Description </th><td> {{ revision.desc }} </td></tr>
    <tr><th> Attachments <a href="{% url 'tracking:add_attachment' item_type='revision' item_id=revision.id %} "> Add </a> </th><td>  
    {% if attachments %}
        {% for attch in attachments %}
        <a target="_blank" href="{% url 'tracking:serve_attachment' file_type='revision' file_id=attch.id %}">{{ revision.number }}</a>
        {% endfor %}
    {% else %}
     No Attachments
    {% endif %}
    </td></tr>

</table>

</br>
<div style="clear:both;"></div>

<table class="info-table rev-table">
<col width="50">
<col width="75">
<col width="120">
<col width="200">
<caption><strong> -- Comments #add# -- </strong></caption>
<tr><th> ID </th><th> Status </th><th> Date </th><th> Owner </th><th> Description </th><th>No. Replies</th></tr>
{% if comments %}
    {% for com in comments %}
    <tr><td><a href="{% url 'tracking:comment_detail' com_id=com.id %}">{{ com.id }} </a></td><td>{{ com.open_closed }}</td><td>{{com.date.month}}-{{com.date.day}}-{{com.date.year}}</td><td>{{ com.owner }}</td><td>{{ com.desc }}</td><td>{{ com.number_replies }}</tr>
    {% endfor %}

{% else %}
<tr><td colspan="4" style="text-align:center"><strong> No Comments </strong></td></tr>

{% endif %}
</table>

{% endblock %}