{% extends 'tracking/base.html' %}

{% block content %}

<h3> Revision: {{ revision.number.upper }} on <a href="{% url 'tracking:drawing_detail' revision.drawing.name %}">{{ revision.drawing.name.upper }}</a></h3>

<table class="info-table rev-table">
    <col width="100">
    <col width="120">
    <col width="300">
    <caption><strong> -- Revision Info <a href="{% url 'tracking:revision_edit' drawing_name=revision.drawing.name rev_no=revision.number %}"><small> Edit </small></a> -- </strong></caption>
    {% include 'tracking/revision_info_table.html' %}

    <tr><th> Attachments <a href="{% url 'tracking:add_attachment' item_type='revision' item_id=revision.id %} "><small> Add </a>|<a href="{% url 'tracking:remove_attachment' item_type='revision' item_id=revision.id %}"> Remove </small></a></th><td>  
    {% if attachments %}
    <ul>
        {% for attch in attachments %}
        <li><a target="_blank" href="{% url 'tracking:serve_attachment' file_type='revision' file_id=attch.id %}">{{ attch.filename }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
     No Attachments
    {% endif %}
    </td></tr>

</table>

</br>
<div style="clear:both;"></div>

<table class="info-table rev-table">
<caption><strong> -- Comments <a href="{% url 'tracking:drawing_comment_add' drawing_name=revision.drawing.name %}"><small> Add </small></a> -- </strong></caption>
{% include 'tracking/comment_list_table.html' %}


</table>

{% endblock %}
