{% extends 'tracking/base.html' %}

{% block content %}

<div class="page-header">
    <h3> Subscribed Drawings </h3>
</div>

    <a id="back-link" class="list-group-item" href="{% url 'tracking:index' %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back to Home
    </a>
    
    <br/>

<div class="panel panel-default">
    <div id="flat-panel" class="panel-heading"> Your Subscriptions </div>

    <div class="table-responsive">
        <table class="table table-hover table-condensed table-bordered">
            <col width="100">
         <!--    <col width="100">
            <col width="120">
            <col width="150">
            <col width="500"> -->
            <tr>
                <th> Drawing </th>
                <th> Subs.</th>
                <th> Date Last Mod </th>
                <th> Last Mod By </th>
                <th> Mod Info </th>
            </tr>
            {% if subs %}
                {% for sub in subs %}
                    <tr>
                        <td>
                            <a id="id-link" class="list-group-item" href="{% url 'tracking:drawing_detail' drawing_name=sub.drawing.name %}">{{ sub.drawing.name.upper }} 
                            </a>
                        </td>
                        <td>
                            <small><a id="id-link" class="list-group-item" href="{% url 'tracking:subscribe_drawing' drawing_name=sub.drawing.name go_to='list' %}">remove
                            </a></small>
                        </td>
                        {% if not sub.last_mod_date %}
                            <td colspan="3">
                            <small>No modification since subscribing</small>
                            </td>
                        {% else %}
                            <td>
                                {{sub.last_mod_date|date:"m-d-Y" }}</td>
                            <td>{{ sub.last_mod_by }}</td>
                            <td>{{ sub.mod_info }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" style="text-align:center">
                    <strong> No Subscriptions </strong></td>
                </tr>
            {% endif %}
            </table>


{% endblock %}
